@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400&display=swap');
#wapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
    vertical-align: middle;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}
.left-menu{
    display: flex;
    width: 245px;
    justify-content: space-around;
}
.right-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type = text]{
    border-radius: 3px;
    border: 0.5px solid;
    height: 34px;
    width: 200px;
}
.logo{
    position: relative;
    left: 50px;
}
#link-item-container{
    display: flex;
    margin-top: 98px;
    justify-content: flex-start;
    position: relative;
    left: 110px;
    margin-bottom: 28px;
    font-family: 'Roboto', sans-serif;
}
#link-item-container>img{
    height: 20px;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
#Product-container{
    display: flex;
    justify-content: flex-start;
}
.product-item1{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 110px;
}
.product-item1>img{
    margin-bottom: 12px;
}
.product-item2>img{
    margin-left: 120px;
    height: 550px;
}
.product-item2{
    display: flex;
}
.product-item2>div{
    position: relative;
    right: 90px;
    top: 6px;
    height: 20px;
    width: 100px;
    background-color: #ffc970;
    font-size: 12px;
    text-align: center;
    border-radius: 14px;
    padding-top: 5px;
    color: #9d722d;
    font-family: 'Roboto', sans-serif;
}
.product-item3{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -30px;
}
.sub-item-product1{
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
}
.sub-item-product1>h1{
    font-size: 40px;
    margin-bottom: 0px;
}
.sub-item-product1>p{
    margin-top: 5px;
    color: gray;
}
.sub-item-product2{
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.sub-item-product2>h2{
    margin-top: 0px;
    font-size: 40px;
    color: #459d7a;
    margin-right: 20px;
}
.sub-item-product2>h3{
    margin-top: 0px;
    color: rgba(115, 115, 115, 0.525);
    font-size: 25px;
    margin-top: -15px;
}
.detail{
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    color: gray;
}
.sub-item-product3{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sub-item-product4{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}
.sub-item-product4>div{
    display: flex;
    align-items: center;
}
.sub-item-product4>div>img{
    margin-right: 7px;
    margin-top: 15px;
}
.sub-item-product5{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.sub-item-product5>select{
    height: 41px;
    background-color: #f3f4f6;
    font-size: 15px;
    margin-top: 5px;
    border-color: white;
    width: 565px;
}
.sub-item-product6{
    font-family: 'Inter', sans-serif;
}
.sub-item-product6>p{
    margin-bottom: 5px;
}
.sub-item-product6>img{
    margin-right: 8px;
}
.sub-item-product7>button{
    margin-top: 21px;
    width: 266px;
    height: 50px;
    margin-right: 26px;
}
.bt1{
    border: 2px solid;
    border-color: #459d7a;
    background-color: white;
    border-radius: 5px;
    font-size: 17px;
}
.bt2{
    border: 2px solid;
    border-color: #459d7a;
    background-color: #459d7a;
    border-radius: 5px;
    font-size: 17px;
    color: white;
}
#Related-contaiter{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 110px;
    font-family: 'Roboto', sans-serif;
}
.producted-tilte{
    margin-top: 126px; position: relative; left: 110px; font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.sub-related{
    display: flex;
    position: relative;
    margin-right: 40px;
}
.sub-related span{
    position: absolute;
    top: 12px;
    right: 12px;
    height: 20px;
    width: 76px;
    background-color: #ffc970;
    font-size: 12px;
    text-align: center;
    border-radius: 14px;
    padding-top: 5px;
    color: #9d722d;
    font-family: 'Roboto', sans-serif;
}
.related-price{
    margin-top: 0px;
    display: flex;
    align-items: center;
}
.related-price h2{

    margin-right: 10px;
    font-size: 25px;
}
.related-price h3{
    margin-right: 150px;
    color: rgba(115, 115, 115, 0.525);
    font-size: 20px;
    margin-top: 15px;
}
.related-item p{
    margin-top: 5px;
    font-size: 14px;
}
#middle-menu{
    display: flex;
    justify-content: flex-start;
    margin-top: 140px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    position: relative;
    left: 188px;
}
.middle-item1, .middle-item2, .middle-item3, .middle-item4, .middle-item5{
    width: 200px;
    height: 52px;
    text-align: center;
    color: #459d7a;
}
.sub-sep{
    color: #459d7a;
    font-size: 20px;
    
}
.middle-item1{
    background-color: #459d7a34;
}
#discription{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}
#discription div{
    margin-top: 140px;
    margin-right: 100px;
}
#discription img{
    margin-top: 45px;
}
.dis-explain div{
    margin-bottom: 0px;
}
.dis-explain h2{
    font-size: 45px;
    margin-bottom: 0px;
}
.dis-explain p{
    margin-top: 2px;
    color: rgb(115, 115, 115);
    font-size: 18px;
}
.Ingredients{
    font-size: 40px;
    position: relative;
    left: 95px;
}
#Ingredients-container{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}
.sub-ingredients img{
    border-radius: 10px 10px 0 0;
}

.sub-ingredients p{
    margin-top: 5px;
    color: rgb(115, 115, 115);
}
.cen-button{
    width: 210px;
    height: 37px;
    border: 2px solid transparent;
    background-color: white;
    border-color: #459d7a;
    border-radius: 5px;
    color: #459d7ad5;
    font-size: 15px;
    margin-top: 10px;
}
.how-to-use{
    font-size: 40px;
    position: relative;
    left: 95px;
    font-family: 'Roboto', sans-serif;
    margin-top: 120px;
}
.video{
    position: relative;
    left: 95px;
}
.video img{
    width: 1275px;
}
.video span{
    position: absolute;
    top: 360px;
    left: 540px;
    background-color: black;
    width: 177px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px 0 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#reviews{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
}
.rate{
    display: flex;
    flex-direction: column;

}
.sub-rate{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.sub-rate p, img, h3{
    margin-bottom: 15px;
    text-align: center;
}

.sub-rate p, h3{
    margin-top: 1px;
}
.reviewer{
    margin-top: 40px;
}
.reviewer img{
    margin-top: 30px;
    width: 765px;
}
.reviewer button{
    position: relative;
    left: 625px;
    width: 140px;
    height: 34px;
    border: 2px solid transparent;
    border-color: #32b581fd;
    background-color: white;
    color: #32b581fd;
    border-radius: 5px;
}
.reviewe-background{
    background-color: rgba(128, 128, 128, 0.053);
    margin-top: 100px;
}
.menu-review{
    position: relative;
    left: 650px;
    width: 320px;
}
.FAQS-tilte{
    font-size: 40px; 
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 110px;
}
#FAQs-container{
    display: flex;
    position: relative;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
}
.FAQs-item{
    display: flex;
    flex-direction: column;
}
.sub-FAQs1{
    display: flex;
    border: 2px solid;
    border-color: #459d7a;
    border-radius: 5px;
    align-items: center;
    width: 600px;
}
.sub-FAQs1 img{
    position: relative;
    top: -25px;
    left: 50px;
}
.sub-FAQs1 p{
    padding-left: 10px;
}
.sub-FAQs2, .sub-FAQs3{
    display: flex;
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.533);
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
    width: 590px;
    height: 77px;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 20px;
}
.sub-FAQs2 img{
    position: relative;
    left: 120px;
}
.sub-FAQs3 img{
    position: relative;
    left: 75px;
}
.sub-FAQs4, .sub-FAQs5, .sub-FAQs6, .sub-FAQs7{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sub-FAQs4{
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.533);
    border-radius: 5px;
    padding-left: 10px;
    width: 600px;
    font-size: 20px;
}
.sub-FAQs4 img{
    position: relative;
    left: 240px;
}
.sub-FAQs5{
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.533);
    border-radius: 5px;
    padding-left: 10px;
    width: 600px;
    font-size: 20px;
}
.sub-FAQs5 img{
    position: relative;
    left: 88px;
}
.sub-FAQs6{
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.533);
    border-radius: 5px;
    padding-left: 10px;
    width: 600px;
    font-size: 20px;
}
.sub-FAQs6 img{
    position: relative;
    left: 111px;
}
.sub-FAQs7{
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.533);
    border-radius: 5px;
    padding-left: 10px;
    width: 600px;
    font-size: 20px;
}
.sub-FAQs7 img{
    position: relative;
    left: 104px;
}
.footer-background{
 background-color: rgba(11, 7, 21, 0.945);
 margin-top: 30px;
 height: 440px;
}
#footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-left: 100px;
    padding-top: 80px;
}
.sub-footer th{
    text-align: left;
    position: relative;
    width: 180px;
    font-size: 25px;
}

.sub-footer td{
    padding-top: 20px;
    width: 180px;
    text-align: left;
}
.footer-item1{
    position: relative;
    left: -36px;
}
.footer-item2{
    position: relative;
    top: 18px;
    right: 80px;
    align-items: center;
}
.footer-item2 input[type = email]{
    height: 40px;
    outline: 0.5px solid gray   ;
    border-radius: 6px 0 0 6px;
    width: 303px;
    margin-right: 0px;
    background-color: rgba(11, 7, 21, 0.945);
    color: white;
    border: 1px solid grey;
    font-family: 'Roboto', sans-serif;
}
.footer-item2 input::placeholder{
    color: white;
}
.sub-footer2{
    display: flex;
    align-items: center;
}
.footer-item2 button{
    margin-left: 0px;
    height: 45px;
    border: 2px solid transparent;
    border-color: #32b581fd;
    background-color: #32b581fd;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;    
    width: 100px;
    padding-right: 100px;
    border-radius: 0 6px 6px 0;
}
.footer-item2 img{
    margin-right: 5px;
}
.footer-background select{
    position: relative;
    left: 165px;
    border-color: white;
    background-color: rgba(11, 7, 21, 0.945);
    color: white;
    width: 120px;
    height: 30px;
    padding-left: 5px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}