.tb1 caption{
    font-weight: bolder;
    color: rgb(212, 16, 212);
}
.tb1{
    border: 3px solid rgb(199, 3, 199);
    background-color: rgb(247, 166, 239);
    box-shadow: -8px -8px 0px 10px rgb(240, 191, 133);
}
.tb1 td{
    color: rgb(55, 102, 231);
    background-color: rgb(245, 202, 241);
    border: 1px solid rgb(248, 155, 237);
    text-align: center;
    font-style: italic;
}
.tb1 th{
    text-decoration: underline;
    border: 1px solid rgb(168, 7, 155);
    background-color: rgb(233, 104, 250);
    text-align: center;
}
.td1 td{
    font-style: normal;
    width: 15px;
    height: 20px;
}